<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

	<classPathEntry location="C:\Users\JBH\.m2\repository\com\mysql\mysql-connector-java\5.1.28\mysql-connector-java-5.1.28.jar" />

	<context id="naturally">

		<!-- <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"></plugin> <plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin> -->


		<!-- Expand -->
		<!-- <plugin type="com.jmck.mybatis.plugin.OracleGeneratorPlugin"></plugin> -->

		<!-- 取消注释 -->
		<commentGenerator>
			<property name="suppressDate" value="true" />
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<!-- 配置连接数据信息 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://192.168.188.250:3306/naturally" userId="root" password="1qaz!QAZ" />

		<!-- 类型转换 -->
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- 配置自动生成的Model的保存路径与其它参数 -->
		<javaModelGenerator targetPackage="com.naturally.entity.table" targetProject="naturally-entity\src\main\java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!-- 配置自动生成的Mappper.xml映射的保存路径与其它参数 -->
		<sqlMapGenerator targetPackage="mapping" targetProject="naturally-persist\src\main\resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!-- 配置自动生成的Mappper.java接口的保存路径与其它参数 -->
		<javaClientGenerator targetPackage="com.naturally.mapper" targetProject="naturally-persist\src\main\java" type="XMLMAPPER">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!-- 生成表对应的操作与实体对象 -->
		<!-- table -->
		<table schema="" tableName="t_user" domainObjectName="TUser"></table>


	</context>
</generatorConfiguration>